<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxibooking">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"/>
        <activity android:name=".DoneActivity"/>
        <activity android:name=".DestinationActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".InviteActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".NumberActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".VerifyActivity" />
        <activity android:name=".CountryActivity" />
        <activity android:name=".PanelActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>